body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.controles {
    margin-bottom: 20px;
}

#visualizacion-espines {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.spin {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.arriba {
    background-color: green;
}

.abajo {
    background-color: red;
}

.flecha-arriba::before {
    content: '\2191'; /* Entidad HTML para flecha hacia arriba */
}

.flecha-abajo::before {
    content: '\2193'; /* Entidad HTML para flecha hacia abajo */
}

#histograma-macroestados {
    border: 1px solid black;
}